keras
tensorflow[and-cuda]
pandas
numpy
seaborn
torch
tensorflow[and-cuda]
pypdf
langchain
accelerate
bitsandbytes
ctransformers
sentence_transformers
faiss_cpu
chainlit
huggingface_hub
scikit-learn
matplotlib
scapy
